@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0E0E0E;
}

body {
  width: 100vw; 
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'Geist', sans-serif;
  color: #0E0E0E;
}

* {
  box-sizing: border-box;
}

input { 
  display: block;
  -webkit-appearance: none; 
}

input:-webkit-autofill {
  color: #727A87 !important;
  -webkit-text-fill-color: #727A87 !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #F5F5F5 inset !important;
  -webkit-box-shadow: 0 0 0 1000px #F5F5F5 inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* Oculta el ícono nativo en Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Oculta el ícono en Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

/* Oculta el ícono en Internet Explorer */
input[type="date"]::-ms-clear {
  display: none;
}

/* Oculta el ícono de cancelar en Chrome, Safari, Edge */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.slider-locations .slick-dots {
  position: absolute !important;
  bottom: 240px !important;
  left: 0 !important;
  width: 100% !important;
  display: grid !important;
  grid-template-columns: repeat(12, 1fr) !important;
  gap: 30px !important;
  padding: 0 30px !important;
  list-style: none !important;
  z-index: 30 !important;
}

  @media (max-width: 767px) {
    .slider-locations .slick-dots {
      top: auto !important;
      bottom: 150px !important;
    }

}

.slider-locations .slick-dots li {
  grid-column: span 4 !important;
  height: 4px !important;
  width: 100% !important;
  margin: 0 !important;
  z-index: 30 !important;
}

.slider-locations .slick-dots li button {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}

.slider-locations .slick-dots li button:before {
  content: "" !important;
  display: block !important;
  height: 1px !important;          
  width: 100% !important;       
  background-color: white; 
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.slider-locations .slick-dots li.slick-active button:before {
  background-color: white !important; 
}

.slider-images .slick-slide {
  padding-right: 30px !important;
}

.slider-images button:hover {
  opacity: 0.6 !important;
  transition: all 300ms ease-in;
}
